<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Tasks</title>
</head>
<body>
    <h1>Task Manager</h1>
    <ul>
        {%- for task in tasks -%}
        <li>
            {% if task.completed %}
                <s>{{task.title }}: {{ task.description }} is completed!</s>
            {% else %}
                {{ task.title }} : {{ task.description }} <a href="/complete/{{ task.id }}">[Complete]</a>
            {% endif %}
        </li>
        {%- endfor -%}
    </ul>
    <form action="/add" method="post">
        <input type="text" name="text_task" placeholder="New task" required> <br />
        <input type="text" name="description_task" placeholder="Description" required> <br /> 
        <button type="submit">Add</button>
    </form>
</body>
</html>